<%= simple_form_for(@recipe) do |f| %>
  <fieldset>
    
    <legend><%= @recipe.name ? 'Edit' : 'Add' %> Recipe</legend>
    <h4><%= @recipe.name ? 'Edit' : 'Add a new' %> Recipe.</h4>
    <%= f.input :name %>
    <%= f.input :photo %>
    <%= f.input :tag_list, hint: 'Separate tags with commas.' %>
    <%= f.input :directions, hint: 'Separate steps with commas.', input_html: { rows: 4 } %>
    <%= f.button :submit %>
    <%= link_to "Back", root_path %>
  </fieldset>
<% end %>
