<div class="row collapse top-margin">
  <div class="large-2 columns">
    <%= render 'home/side' %>
  </div>

  <div class="large-4 columns" id="main">
    <h3><%= @recipe.name %></h3>
    <p><%= @recipe.directions %></p>
  </div>

  <div class="large-4 columns" id="photo">
    <%= image_tag @recipe.photo.url %>
    <%= link_to "Back", root_path %>
    <span class="right">
      <%= link_to "Edit", edit_recipe_path(@recipe) %> |
      <%= link_to "Delete", recipe_path(@recipe), method: :delete %>
    </span>
  </div>
</div>
