<div class="row collapse top-margin">
  <div class="large-4 columns" id="main">
    <h3><%= @recipe.name %></h3>
    <h4>Ingredients</h4>
    <ul>
      <li><%= render @ingredients %></li>
    </ul>
    <h4>Directions</h4>
    <ol>
      <% @recipe.format_directions.each do |step| %>
        <li><%= step %></li>
      <% end %>
    </ol>
    <div>
      <% @recipe.tags.each do |tag| %>
        <span class="secondary radius label"><%= link_to tag, tag_recipes_path(tag.name) %></span>
      <% end %>
    </div>
  </div>

  <div class="large-4 columns" id="photo">
    <%= image_tag @recipe.photo.url %>
    <span class="right">
      <%= link_to "Edit", edit_recipe_path(@recipe) %> |
      <%= link_to "Delete", recipe_path(@recipe), method: :delete %>
    </span>
  </div>
</div>
