<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Recifree" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
        <h1><a href="<%= root_path %>">Recifree</a></h1>
        </li>
      </ul>

      <section class="top-bar-section">
        <!-- Right Nav Section -->
        <ul class="right">
          <li><a href="<%= root_path %>"><%= current_user.name %></a></li>
          <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        </ul>
      </section>
    </nav>

    <% if notice %>
      <div class="large-6 columns large-centered text-center">
        <div data-alert class="alert-box info radius">
          <%= notice %>
        </div>
      </div>
    <% end %>

    <% if alert %>
      <div class="large-6 columns large-centered text-center">
        <div data-alert class="alert-box alert radius"><%= alert %></div>
          <%= alert %>
        </div>
      </div>
    <% end %>

    <%= yield %>
  </body>
</html>

